img {
    height: 100px;
    width: 100px;
    padding-left: 90px;
}

.ProductCard {
    height: 600px;
    width: 300px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    display: flex;
}